<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Guessr Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" th:src="@{/js/round-summary.js}"></script>
    <script type="text/javascript" th:src="@{/js/core.js}"></script>

    <style>
        .center {
          margin-left: auto;
          margin-right: auto;
        }




    </style>
</head>
<body onload="init();">
<div th:replace="fragments/topnav :: navbar"/>

<div class="row" style="margin-top:1%">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div th:if="${error!=null}" style="text-align:center; margin-top:1%"
             class="alert alert-danger alert-dismissible">
            <h4 class="error" th:text="${error}">Error message</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row" style="width:100%;text-align:center" th:if="${roundResult!=null}">
            <h2 class="center"> Round over! </h2>
        </div>
        <hr>
        <div>
            <div class="row">
                <h5 style="margin-left:1%"><label for="correctPath">Correct Path: </label></h5>
                <h5 style="margin-left:1%;color:green" id="correctPath" th:text="${roundResult.correctPath}">
                    Example/Correct/Path</h5>
            </div>
            <div class="row">
                <h5 style="margin-left:1%"><label for="correctLine">Correct Line: </label></h5>
                <h5 style="margin-left:1%;color:green" id="correctLine" th:text="${roundResult.correctLineNumber}">
                    100</h5>
            </div>

            <div class="row">
                <div class="col-md-6" th:each="playerAnswer : ${roundResult.playersAnswers}">
                    <div class="card">
                        <div class="card-header" style="text-align:center">
                            <div class="row">
                                <div class="col-md-5" style="text-align:left">
                                    <h6 class="center" style="margin-top:auto;margin-bottom:auto" id="namePlayer"
                                        th:text="${playerAnswer.player.name}">Player name</h6>
                                </div>
                                <div class="col-md-7" style="text-align:right">
                                    <th:block th:if="${playerAnswer.player.healthInfoDto.hit}">
                                        <input type="hidden" id="prevHealth" th:value="${playerAnswer.player.healthInfoDto.prevHealth}">
                                        <input type="hidden" id="health" th:value="${playerAnswer.player.healthInfoDto.health}">
                                    </th:block>
                                    <i class="bi bi-heart-fill" style="color:red;text-align:right"></i>
                                    <progress th:value="${playerAnswer.player.healthInfoDto.health}"
                                              max="5000"
                                              style="text-align:right;margin-left:1%"
                                    th:id="${playerAnswer.player.healthInfoDto.hit ? 'hit-pb' : 'pb'}">
                                    </progress>
                                    <span
                                            th:id="${playerAnswer.player.healthInfoDto.hit ? 'hit-score' : 'score'}"
                                            th:text="${playerAnswer.player.healthInfoDto.health}">5000</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h5 style="margin-left:1%;color:bluedisplay: inline-block;word-break: break-word;"
                                    id="pathPlayer"
                                    th:text="${playerAnswer.path}">
                                    Example/Correct/Path/Example/Correct/Path/Example/Correct/Path</h5>
                            </div>
                            <div class="row">
                                <h5 style="margin-left:1%;color:blue" id="lineNumberPlayer"
                                    th:text="${'Line number: ' + playerAnswer.lineNumber}">20</h5>
                            </div>
                            <div class="row">
                                <progress th:value="${playerAnswer.score}" style="width:100%" min="0" max="5000"
                                          class="score-pb"></progress>
                            </div>
                            <div class="row" style="text-align:center">
                                <h5 style="color:black;width:100%;" id="score"
                                    th:text="${playerAnswer.score + ' points'}">20 points</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>